
/* Introdução */
.partner-position{
    margin-top: 7rem;
    margin-bottom: 2rem;
    border: none;
}
.description-position{
    text-align: center;
    margin-right: 2rem;
    max-width: 600px;
}
.description-position a{
    margin: 0 auto;
}

@media(max-width: 768px){
    .partner-position{
        padding: 0;
    }
    .description-position{
        margin: 0 0 2rem 0;
    }
}

/* Sobre contabilidade */

.accounting{
    background: #F3F4F8;
    padding: 5rem calc((100% - 1400px) /2);
}
.accounting h1{
    text-align: center;
    margin: 0 auto 1rem auto;

    max-width: 30%;

}
.accounting > p{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
    max-width: 40%;
}
.cards-accounting{
    margin: 0 3rem;
    
}
.cards{
    display: flex;
    flex-wrap: wrap;
}
.card-item{
    flex: 1 1 200px;
    margin: 10px; 
    padding: 20px;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card-item h2{
    font-size: 1em;
    text-align: center;
}
.card-item p{
    font-size: 0.875em;
    padding-top: 30px;
    text-align: center;
}
.color1{
    border-top: 3px solid #B975FE;
}
.color2{
    border-top: 3px solid #76E368;
}
.color3{
    border-top: 3px solid #eb4954;
}
.color4{
    border-top: 3px solid #67D8BF;
}
.color5{
    border-top: 3px solid #30A3FB;
}
.color6{
    border-top: 3px solid #E872E4;
}
.color7{
    border-top: 3px solid #79EB81;
}
.color8{
    border-top: 3px solid #B8DF8E;
}

.accounting a{
    max-width: 30%;
    margin: 2rem auto;
}

.partners p{
    text-align: center;
    text-transform: uppercase;
}

.partners div{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners img{
    padding: 10px;
}

@media(max-width: 1024px){
    .accounting h1{
        max-width: 100%;
    }
    .accounting > p{
        max-width: 100%;
        margin: 0 3rem;
    }
    .partners img{
        padding: 10px;
    }
    
}
@media(max-width: 600px){
    .accounting a{
        max-width: 100%;
        margin-left: 4rem;
        margin-right: 4rem;
    }
    .accounting h1{
        margin: 0 3rem;
    }
}
@media(max-width: 400px){
    .partners div{
        flex-direction: column;
    }
}

/* Venda mais com um site poderoso */

.border-partner{
    border: none;
}

/* Vantagens do serviço */
.position-services{
    padding-top: 1rem;
}
.position-services h1{
    text-align: center;
    margin: 0 auto;
    padding-top: 4rem;
    color: #fff;
    max-width: 40%;
    
}
.btn-services{
    max-width: 20%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

@media(max-width: 768px){
    .position-services h1{
        margin: 0 3rem;
        max-width: 100%;
    }
    .btn-services{
        margin: 0 auto;
        max-width: 60%;
    }
    
}

/* Simulação  */
.simulate-container{
    padding: 5rem calc((100% - 1400px)/2);
    background: #344451;
}
.simulate-container h1{
    text-align: center;
    color: #fff;
    margin: 0 auto;
    max-width: 40%;
}
.flecha {
    display: flex;
    justify-content: center;
    position: relative;
}
.flecha p{
    margin: 2rem auto;
    max-width: 50%;
    text-align: center;
    color: #fff;
}
.flecha div{
    position: absolute;
    top: 0;
    left: 17%;
}


.cards-sale{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 3rem;
    text-align: center;
}

.card-sale{
    flex: 1 1 200px;
    max-width: 100%;
    margin: 10px;
    padding: 25px;
}
.cards-sale div{
 
    background: #fff;
}

.cards-sale div:first-child{
    background: #273440;
    color: #fff;
}

.input-comission button{
    position:absolute;
    top:12px; right:20px;
    z-index:10;
    border:none;
    background:transparent;
    outline:none;
    cursor: pointer;
  }
.input-comission{
    position: relative;
    max-width: 100%;
    margin-top: 1rem;
}
.input-comission p {
    font-weight: bold;
 
}
.input-comission input {
    font-size: 1em;
    width: 100%;
    padding: 15px;
    border: none;
    max-width: 100%;
 
}

.input-comission img{
    opacity: 60%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

.card-sale h2{
    font-weight: 300;
    font-size: 1.10em;
    margin: 1rem 0;
}

.card-sale span{
    color: #9970F9;
    font-size: 2em;
}
.your-commission{
    margin-top: 1rem;
}

@media(max-width: 1024px){
    .card-sale{
        flex: 1 1 400px;
    }
}

@media(max-width: 768px){
 
    .flecha img{
        display: none;
    }
    .simulate-container h1, .flecha p{
        max-width: 100%;
        margin: 0 3rem;
    }
    .flecha p{
        margin: 1rem 3rem;
    }
}
@media(max-width: 400px){
    .card-sale{
        max-width: 100%;
    }
    .cards-sale{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}


/* Perguntas frequentes */

.questions-container{
    padding: 0 calc((100% - 1400px)/2);
    padding-top: 4rem;
    background: #F3F4F8;
}
.questions-container h1{
    text-align: center;
}
.questions-container > div{
    padding: 3rem  ;
}
.card-questions{
    background: #fff;
}
.card-questions li{
    border-bottom: 1px solid #EBEBEB;
    padding: 30px;
    cursor: pointer;
    
}
.question div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-questions li:last-child{
    border-bottom: none;
}

.question > p{
    display: none;
}
.question.active > p{
    display: block;
    color: #5D5D5D;
    padding-top: 20px;
    max-width: 90%;
    line-height: 25px;
    
}
@media (max-width: 768px){
    .question.active > p{
        max-width: 100%;
    }
}
@media (max-width: 600px){
    .question img{
        display: none;
    }
}

