/* Header */

#header-container{
    padding: 1rem calc((100% - 1440px)/2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-container img, #header-container nav{
    margin: 0 3rem;
}

#menu{
    display: flex;
    align-items: center;
    gap: 3rem;
}

#menu a{
    display: block;
    font-weight: 300;
    font-size: 0.875em;
}
#menu a:hover{
    color: #A66FF5;
}

#btn-nav{
    border: 2px solid #9270FB;
    color: #9270FB;
    border-radius: 5px;
    padding: 10px; 
}
#btn-nav:hover{
    border: 2px solid #A66FF5;
}
#btn-responsive{
    display: none;
}

/* Header responsivo */

@media(max-width: 768px){
    
    #menu{
        display: block;
        position: absolute;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #A66FF5;
        transition: .6s;
        z-index: 10;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
    }
 
    #menu a{
        font-size: 1.10em;
        border: none;
        padding: 1rem 0;
        color: #fff;
        margin: 0 1rem;
        border-bottom: 1px solid #fff; 
    }
    #menu a:hover{
        color: black;
        border-bottom: 2px solid #fff;
    }
    #btn-nav{
        border: none;
        border-radius: 0;
    }
    #btn-responsive{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border:none;
        background: none;
        cursor: pointer;
        
    }
    #hamburger{
        border-top: 2px solid ;
        color: #9270FB;
        width: 20px;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger{
        border-top-color: transparent;
    }
    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}

/* Introdução Home */

.introduction-container{
   margin: 1rem 5rem 4rem 5rem;
   display: flex;
   justify-content: center;
   text-align: center;
}

.introduction{
    margin: 0 2rem;
}

.introduction-container div img{
    opacity: 10%;
}
.introductionh1{
    max-width: 550px;
    font-weight: 300;
    font-size: 1.9em;
}
.introduction span{   
    font-weight: bold;
}
.introduction p{
    margin: 20px 0;
    max-width: 600px; 
    color: #CED5DB;
}
.btn{
    background: #69D18B;
    display: block;
    border-radius: 5px; 
    padding: 10px 30px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

@media(max-width: 768px){
    .introduction-container div img{
        display: none;
    }
    .introduction-container{
        margin: 1rem;
        
     }
}

/* Seção video */

.video-container{
    padding: 0 calc((100% - 768px) /2);
    position: relative;
}
.video-container::after{
    background: #9270FB;
    content:'';
    position:absolute;
    top:20%;
    bottom:0;
    left:0;
    right:0;
    z-index: -1;
}
.video{
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
}
.video iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 4rem 1rem;
} 

/* Serviços */

.services-container{
    padding-left: calc((100% - 1440px) /2);
    background: #9270FB;
}
.services-container h2  {
    text-align: center;
    font-weight: 300;
    font-size: 1.5em;
    color: #fff;
}
.services-item {
    padding: calc(3rem - 0.5rem) ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services-item  ul{
    flex: 1 1 150px;
}
.services-item  li{
    display: flex;
}
.services-item  li::before{
    content: "";
    margin-right: 1rem;
    display: inline-block;
    width: 16px;
    height: 23px;   
    background: url("../../assets/img/eumei-list-style.png") no-repeat center;
}

.services-item  ul li{
    margin: 1rem 0.5rem;
    font-weight: 300;
    font-size: 0.875em;
    color: #fff;
    white-space: nowrap;
}

.size-btn{
    max-width: 300px;
}

@media(max-width: 1171px){
    .services-item ul {
        border: 1px solid #fff;
        flex: 1;
        margin: 1rem;
    }
}
@media(max-width: 768px){
    .services-item {
        padding: 3rem 0;
        flex-direction: column;
    }
    .services-item ul {
        border: 1px solid #fff;
        width: 250px;
        margin: 1rem auto;
    }
    .services-item ul li{
        padding: 10px;
        white-space: normal;
        font-size: 1.10em;
    }
}

/* Como Funciona */

.how-work-container{
    padding: 4rem calc((100% - 960px) /2);
    
}

.how-work-container h2{
    color: #394349;
    text-align: center;
    margin-bottom: 2rem;
    
}

.how-work {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
}
.how-work img{
    max-width: 50px;
    height: 57px;
}

.how-work div{
    flex: 1 1 150px;
    display: flex;
}
.how-work div p{
    color: #57646D;
    font-weight: 300;
    font-size: 0.875em;
    margin-left: 1rem;
}
.how-work div span{
    font-weight: bold;
}

@media(max-width: 768px){
    .how-work{
        flex-direction: column;
        margin: 0;
    }
    .how-work div{
        flex: none;
        max-width: 80%;
        margin: 1rem auto;
    }
    .how-work div p{
        font-size: 1.10em;
    }

}

/* Seção Seja um parceiro de venda com um site poderoso*/

.partner-container{

    border-top: 2px solid #E7E7E7;
    padding: 4rem calc((100% - 1440px) /2);
   
}
.partner{
    margin: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.partner-description {
    flex: 2;
}
.partner-img{
    flex: 1;
}
.partner-description h1{
    font-weight: 300;

}
.partner-description span{
    font-weight: bold;
}
.partner-description p{
    margin: 1rem 0;
    line-height: 25px;
}
.partner-description li{
    line-height: 30px;
}
.partner-description ul{
    margin-bottom: 1rem;
}
.partner-description li{
    list-style: disc;
    list-style-position: inside;
}

@media(max-width: 768px){
    .partner{
        flex-direction: column;
        margin: 0 auto;
    }
    .partner-description {
        width: 70%;
        margin: 4rem auto;
    }
    .order1{
        order: 1;
    }
    .order2{
        order: 2;
    }
    .partner-img{
        width: 70%;
    }

}

/* Seção Seja um parceiro e ganhe dinheiro*/

.position-description{
    margin-left: 3rem;
}
@media(max-width: 768px){
    .position-description{
        margin-left: auto;
    }
}

/* Seção de planos */

.plans-container{
    padding: 4rem calc((100% - 1440px) /2);
    background: #9270FB;
}
.plans-container h1{
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 1.15em;
    margin-bottom: 3rem;
}

.plans{
    margin: 0 calc(3rem - 10px);
    display: flex;
    flex-wrap: wrap;
}

.plans-item{
    flex: 1;
    padding: 0 10px;
}

.plans-card{
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    margin: 1rem 0;
    max-height: 300px;
}
.plans-card h2{
    font-size: 1em;
}

.plans-card span{
    display: block;
    margin: 1rem 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #9270FB;
}

.plans-card p{
    margin-bottom: 3rem;
    font-size: 0.75em;
    font-weight: 300;
    display: block;
    max-height: 40px;
}
.btn-upper{

    text-transform: uppercase;
}

.plans-item li{
    display: flex;
    align-items: center;
    font-size: 0.75em;
    line-height: 25px;

 

}
.plans-item li::before{
    content: "";
    margin-right: 1rem;
    width: 16px;
    height: 16px;
    background: url("../../assets/img/check.png") no-repeat center;

}

/* .button{
    display: none;
} */

@media(max-width: 768px){
    .plans{
        flex-direction: column;
    }
    /* }
    .button{
        display: block;
    }
    .list-items {  
        
        position: absolute;
    
        width: 100%;
        height: 300px;
  
    } 
    
    .dropdown .list-items li{  
        display: none;
    }  
    .dropdown.active .list-items li{  
        display: flex;

    }  
    .dropdown.active{  
        height: 280px;
    }  */
}  


